@import "../../global.scss";

.pagination {
  visibility: hidden;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: $distance;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .active {
    background: $bg-dark-accent !important;
  }
  li {
    &:not(:last-of-type) {
      margin-bottom: 7.5px;
    }
    $size: 10px;
    width: $size;
    height: $size;
    background: $bg-lightest-accent;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: $bg-light-accent;
    }
  }
}
