@import "../../global.scss";

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  .about-me {
    width: 500px;
  }
  img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin-top: 117px;
    margin-left: 50px;
  }
  p {
    color: $text-main;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .lists {
    display: flex;
  }
}
