@import "../../global.scss";

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  .about-me {
    width: 500px;
  }
  .about-img {
    position: relative;
    align-self: stretch;
    border-radius: 25%;
    transform: scale(0.67) rotate(45deg);
    overflow: hidden;
    background: #0e0e12;
    box-shadow: 10px 10px 21px #0c0c0f, -10px -10px 21px #101015;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1.23) rotate(-45deg);
      object-fit: cover;
      border-radius: 37px;
    }
  }
  p {
    color: $text-main;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .lists {
    display: flex;
  }
}
