@import "../../global.scss";

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    $margin: 25px;
    color: $text-header;
    .suddle {
      color: $bg-purple;
      font-size: 13px;
      margin-bottom: $margin;
    }
    .name,
    .header {
      $size: 70px;
      font-size: $size;
      line-height: calc($size - 20px);
    }
    .header {
      color: $bg-light-accent;
      margin-top: 15px;
    }
    .info-text {
      color: $text-main;
      font-size: 15px;
      font-weight: 500;
      width: 400px;
      margin: $margin 0;
    }
  }
}
