@import "../../global.scss";

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    $margin: 25px;
    color: $text-header;
    .suddle {
      color: $bg-purple;
      font-size: 15px;
      margin-bottom: $margin;
    }
    .name {
      opacity: 0.8;
    }
    .name,
    .header {
      $size: 70px;
      font-size: $size;
      line-height: calc($size - 10px);
    }
    .header {
      color: $bg-light-accent;
      margin-top: 15px;
    }
    .info-text {
      color: $text-main;
      font-size: 18px;
      font-weight: 500;
      width: 500px;
      margin: $margin 0;
    }
    a {
      color: $bg-purple;
    }
  }
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
