@import "../../global.scss";

.box-shadow {
  box-shadow: $box-shadow;
  transition: all 0.2s;
}
nav {
  z-index: 1000;
  position: fixed;
  background: $bg-secondary;
  height: $nav-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  $margin: 50px;
  .first {
    margin: 0 $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      box-shadow: $box-shadow;
      height: 30px;
      aspect-ratio: 1/1;
    }
  }
  .second {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: $margin;
    li {
      font-size: 12px;
      * {
        font-weight: 300;
      }
      a {
        transition: 0.2s all;
        text-decoration: none;
        color: $text-main;
      }
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      b {
        font-size: 11px;
        color: $bg-purple;
      }
      &:hover {
        a {
          color: $bg-purple;
        }
      }
    }
  }
}
