@import "../../global.scss";

.box-shadow {
  box-shadow: $box-shadow;
  transition: box-shadow 0.2s;
  background: rgba($bg-secondary, 0.8);
  backdrop-filter: blur(5px);
}
nav {
  z-index: 1000;
  position: fixed;
  background: $bg-secondary;
  height: $nav-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  $margin: 50px;
  .first {
    margin: 0 $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      box-shadow: $box-shadow;
      height: 40px;
      aspect-ratio: 1/1;
    }
  }
  .second {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: $margin;
    li {
      margin-right: 15px;
      font-size: 15px;
      * {
        font-weight: 300;
      }
      a {
        transition: 0.2s all;
        text-decoration: none;
        color: rgba($text-header, 0.8);
      }
      b {
        font-size: 13px;
        color: $bg-purple;
      }
      &:hover {
        a {
          color: $bg-purple;
        }
      }
    }
  }
}
