@import "../../global.scss";

nav {
  box-shadow: $box-shadow;
  z-index: 1000;
  position: fixed;
  background: $bg-secondary;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  $margin: 50px;
  .first,
  .hamburger {
    margin: $margin;
  }
  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      box-shadow: $box-shadow;
      height: 45px;
      aspect-ratio: 1/1;
    }
  }
  .hamburger {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 7.5px;
    border-radius: 100%;
    background: $bg-dark-accent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    &:hover {
      .top {
        width: 14px;
      }
      .bot {
        width: 22px;
      }
    }
    .top {
      margin-bottom: 5px;
    }
    .top,
    .bot {
      transition: all 0.4s;
      width: 20px;
      height: 2px;
      margin-right: 5px;
      border-radius: 1000px;
      background: #fff;
    }
  }
}
