@import "../../global.scss";

#work {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  .work-container {
    width: 650px;
  }
  .work-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .selector {
      list-style: none;
      .school-header,
      .work-header {
        color: $text-main;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 700;
        font-size: 12px;
      }
      .school-header {
        margin-top: 15px;
      }
      .active {
        background: rgba($bg-purple, 0.1);
        color: $bg-purple;
        border-left: 2px solid $bg-purple;
        cursor: default;
      }
      li {
        font-family: $font-monospace;
        white-space: nowrap;
        font-size: 14px;
        padding: 13px 20px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all 0.2s;
        color: $text-main;
        border-left: 2px solid rgba($bg-purple, 0.3);
        cursor: pointer;
        &:hover {
          color: $bg-purple;
          background: rgba($bg-purple, 0.1);
        }
      }
    }
    .job-info {
      margin-left: 50px;
      flex-grow: 1;
      h1 {
        font-weight: 500 !important;
        font-size: 25px;
        color: $text-header;
        b {
          font-weight: 500;
          color: $bg-purple;
        }
        a {
          font-weight: 500;
        }
      }
      h2 {
        font-size: 15px;
        font-weight: 500;
        opacity: 0.4;
        color: $text-header;
        margin-bottom: 15px;
      }
      li {
        margin: 10px 0;
        font-family: $font-normal;
      }
    }
  }
}
