@import "../../global.scss";

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $bg-secondary;
  color: $text-main;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sort {
      display: inline-block;
      list-style: none;
      margin-bottom: 50px;
      ul {
        border-radius: 5px;
        padding: 5px;
        display: flex;
        list-style: none;
        background: $bg-dark-accent;
        .active {
          background: $bg-semi-dark-accent !important;
        }
        li {
          cursor: pointer;
          transition: all 0.2s;
          padding: 5px 10px;
          border-radius: 3px;
          &:hover {
            background: $bg-light-accent;
          }
        }
      }
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .project {
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        align-self: stretch;
        padding: 15px;
        border-radius: 8px;
        width: 250px;
        background: $bg-dark-accent;
        p {
          opacity: 0.8;
          font-size: 12px;
        }
        h2 {
          color: $bg-lightest-accent;
          font-size: 12px;
          font-weight: 800;
        }
      }
    }

    .projects-btn {
      padding: 8px 12px;
      outline: 0;
      border: 0;
      border-radius: 5px;
      background: $bg-dark-accent;
      margin-top: 50px;
      color: $text-main;
      transition: 0.2s all;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
        background: $bg-semi-dark-accent;
      }
    }
  }
}
