@import "../../global.scss";

footer {
  position: relative;
  height: 400px;
  background: $bg-main;
  border-top: 1px solid $bg-purple;
  .message {
    box-shadow: $box-shadow;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-height: 200px;
    height: auto;
    top: calc(1px + -100px);
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    background: $bg-dark-accent;
    border-radius: 15px;
    h1 {
      line-height: 1.1;
      font-weight: 500;
      font-size: 50px;
      color: $bg-purple;
      &:last-of-type {
        background: $bg-purple;
        color: $bg-dark-accent;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
  .content {
    margin-top: 100px;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .personal {
      img {
        height: 75px;
        width: 75px;
      }
    }
    ul {
      margin-top: 10px;
      list-style: none;
      display: flex;
      li {
        padding: 8px 12px;
        transition: 0.2s all;
        color: $text-header;
        font-size: 13px;
        a {
          color: #bbb;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $bg-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($text-header, 0.6);
    border-top: 1px solid $bg-semi-dark-accent;
    font-size: 12px;
  }
}
