@import "../../global.scss";

$border: 1px solid rgba(0, 0, 0, 0.15);

.socials {
  position: fixed;
  left: $distance;
  bottom: $distance;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    display: flex;
    align-items: center;
    a {
      height: 30px;
      width: 30px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      margin-top: 15px;
      text-decoration: none;
      color: $bg-lightest-accent;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: $bg-purple;
      }
    }
  }
}
