$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
$bg-main: #111116;
$bg-secondary: #0e0e12;
$bg-dark-accent: #22222b;
$bg-semi-dark-accent: #33333b;
$bg-light-accent: #545462;
$bg-lightest-accent: #565665;
$bg-purple: #7358d9;
$bg-purple-accent: #694fcb;
$text-main: #fff;
